<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>Hi <%= name %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum labore beatae vitae optio, aut accusantium quod
        reprehenderit placeat. Autem ut non rem neque libero aliquam aspernatur magnam, amet, nesciunt, voluptatibus
        rerum at possimus omnis eligendi optio. Deleniti ab in ipsa, nulla molestias odio quo iure sequi eligendi
        mollitia reprehenderit aliquam impedit. Laborum, ex iure suscipit facilis eius dolorum ut nulla sapiente
        pariatur ratione aut quisquam repellat, sequi esse distinctio dolorem non accusantium fuga cupiditate labore
        quod odit ullam ab ducimus! Libero maxime eaque similique quo quas, nemo tempore perferendis expedita maiores
        nam voluptas officia ea eius blanditiis praesentium, error dolores!</p>
</body>

</html>